@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

:root {
  --bg-color: bg-neutral-950;
  --fg-color: text-neutral-200;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: "JetBrains Mono", "Courier New", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
